@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
    border: 2px solid black;
    border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #EEE;
}

html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.nt-shadow {
    box-shadow: 5px 5px 0px 0 rgb(0, 0, 0);
}

.nt-shadow-sm {
    box-shadow: 3px 3px 0px 0 rgb(0, 0, 0);
}